*{
    padding:0;
    margin:0;
}

body{
    direction: rtl;
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    background-color: #F2F2F2;
}

nav{
    background-color:#4E4D4D;
    height:35px;
    overflow: hidden;
}

nav span{
    color:#fff;
    
    font-weight: bold;
    float:right;
    background-color:black;
    padding:5px 25px 0 50px;
    height:80px;
    position: relative;
    right:40px;
}

nav .contact{
    float: right;
    margin-right:50px;
}

nav .contact li{
    float: left;
    list-style: none;
}

nav .contact li a{
    color:rgba(221, 221, 221, 0.836);
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 4px 16px 7px 21px;
}

nav .contact li:hover{
    background-color:#000;
}

nav .icon{
    float: right;
    margin-right:50px;
}

nav .icon li{
    float: left;
    list-style: none;
}

nav .icon li a{
    color:#DDD;
    display: block;
    padding: 7px 11px 5px 10px;
}


nav .logos{
    float: right;
    margin-right: 250px;
}

nav .logos li{
    float: left;
    list-style: none;
    border-left: 1px solid #000;
    
    
}

nav .logos li:last-child{
    border-right:1px solid #000;
    
}

nav .logos li a{
    color: #DDD;
    display: block;
    padding: 7px 12px 6px 15px;
}


nav .logos li:hover,
nav .icon li:hover{

    transition: 1s;
    background-color:#000;
}


/* end of nav bar*/


/* start header */

header{
    background-color:rgb(255, 255, 255);
    height:110px;
    width:100%;
}

header img{
    float: right;
    width: 289px;
    height: 94px;
    margin-right: 85px;
    padding-top: 20px;
}

/* end header */

/* start menu */

.menu{
    width:100%;
    height:50px;
    border-top:1px solid rgba(196, 196, 196, 0.87);
    border-bottom:1px solid rgba(196, 196, 196, 0.87);
    
    
}

.menu ul{
    float:right;
    margin-right:61px;
}

.menu ul li{
    float: left;
    list-style: none;
    border-right: 1px solid  rgba(196, 196, 196, 0.87);
    
    
}

.menu ul li a{
    text-decoration: none;
    padding-left:20px;
    color:black;
    font-weight: bolder;
    display: block;
    padding: 12px 16px 11px 20px;
    
}
.menu ul li .one{
    border-bottom: 3px solid red;
}

.menu ul li .two{
    border-bottom: 3px solid blue;
}
.menu ul li .three{
    border-bottom: 3px solid #DD9933;
}
.menu ul li .four{
    border-bottom: 3px solid green;
}
.menu ul li .five{
    border-bottom: 3px solid #E560E1;
}

.menu ul li .six{
    border-bottom: 3px solid #E0E0E0;
}

.container{
    max-width:100%;
    
    height:auto;
    
}

.right{
    width: 60%;
    height:3429px;
    float: right;
    background-color:rgb(255, 255, 255);
    margin-right:45px;

}

.right .pics{
    max-width: 95%;
    margin:0 auto;
    margin-top:16px;
}






.album{
    max-width: 95%;
    height:580px;
    background-color: #FFFFFF;
    margin:0 auto;
    margin-top:20px;
    border: 1px solid rgba(196, 196, 196, 0.87); 
    overflow: hidden;
}


/* making the albums */
.album .head{
    max-width: 100%;
    height:39px;
    background-color:#E560E1;
}

.album .head h3{
    text-align: right;
    padding:2px 22px 0 0;
    color:rgb(255, 255, 255);
}

.album .news1{
    width:33.33%;
    height:43%;
    border:0.5px solid rgba(196, 196, 196, 0.87);
    float: left;
}


.album .news1 img{
    width:92%;
    height:53%;
    margin:8px 8px 0 9px;
}

.album .show-more{
    margin:503px 0 0 260px;
    
}

.album .show-more a{
    font-size: 19px;
    font-weight: bolder;
    text-decoration: none;
    transition: color 0.3s;
}

.album .show-more a:hover{
    color:#AF000E;
}
/* end of making albums */

.album .news1 .link{
    width: 92%;
    height:22%;
    margin:5px 10px 0 0;
    text-align: right;
        
}

.album .news1 .link a{
    text-decoration: none;
    color:#000;
    font-size:16px;
    font-weight: bold;
    transition: color 0.3s;
    
}

.album .news1 .link a:hover{
    color:red;
}

.album .news1 .time{
    
    width:92%;
    height:30px;
    margin:6px 9px 0 0;
}

.album .news1 .time ion-icon{
    float: right;
    color:#CDCDCD;
}

.album .news1 .time p{
    display: inline;
    float: right;
    color:#CDCDCD;
}

/* start section 2 */

.album .head-two{
    background-color:#538729;
}

/* end of section 2 */

/* start section 3 */

.album .head-three{
    background-color:#DD9933;
}

/* end of section 4 */
.album .head-four{
    background-color:#152496;
}

/* end of section 4 */

/* end of section 5 */
.album .head-five{
    background-color:#DB0011;
}

/* end of section 5 */



/* start side bar */

.left{
    width:30%;
    height:800px;
    float: left;
    margin-left: 58px;
    
}

.left .social{
    background-color:#E9E9E9;
    max-width: 100%;
    height:150px;
    background-color:#F2F2F2;
    border: 1px solid rgba(196, 196, 196, 0.87);
}

.left .social .headline{
    max-width: 100%;
    height:45px;
    background-color: #E9E9E9;
    
}

.left .social .headline h2{
    text-align: right;
    font-size: 23px;
    font-weight: bolder;
    padding:8px 18px 0 0;
}
.left .social ul{
    float :right;
    margin-right: 62px;
    
}
.left .social ul li{
    list-style: none;
    float: left;
    padding: 33px 15px 0 0;
    
}

.left .social ul li a img{
    width:33px;
    height:32px;
}

.left .most{
    max-width: 100%;
    height:500px;
    background-color: #F2F2F2;
    border: 1px solid rgba(196, 196, 196, 0.87);
    margin-top:40px;
    
}

.left .most .the-most{
    max-width: 100%;
    height:50px;
    background-color: #E9E9E9;
}

.left .most .the-most h2{
    text-align: right;
    padding:8px 20px 0 0;
    font-weight: bolder;
    font-size: 27px;
}

.most .the-most-watched{
    width:90%;
    height:12%;
    color:#000;
    margin: 11px 16px 0 0;
    text-align: right;
    border-bottom:1px solid #DDD;
}

.most .the-most-watched a{
    color:#AF000E;
    font-size: 20px;
    font-weight: bold;
}

/* start footer */

footer{
    background-color:#000000;
    width:100%;
    height:300px;
    display: inline-block;
    margin-top: 21px;
}

footer .cover{
    background-color:#262626;
    width:100%;
    height:85%;
    margin-top:4px;
}

hr{
    color:rgb(255, 255, 255);
}

footer .cover .etfrag{
    width:14%;
    height:88%;
    float: right;
    margin: 11px 18px 0 0;
}

footer .cover .etfrag .top{
    width: 100%;
    height: 20%;
    overflow: hidden;
    
}

footer .cover .etfrag .top h3{
    float: right;
    font-size: 26px;
    color:rgb(255, 255, 255);
}

footer .cover .etfrag .under{
    height:60%;
    width:80%;
    margin: 2px 12px 0 0;
}

footer .cover .etfrag .under ul{
    float: right;
    width:100%;

}

footer .cover .etfrag .under ul li{
    list-style: none;
}

footer .cover .etfrag .under ul li a{
    display: inline-block;
    text-align: right;
    text-decoration: none;
    font-size: 16px;
    line-height: 35px;
    color:rgb(255, 255, 255);
    transition: color 0.2s ease-in-out;
    border-bottom: 1px solid black;
    width:100%;
    padding-right:5px; 
}

footer .cover .etfrag .under ul li a:hover{
    color:red;
}









footer p{
    float: right;
    margin: 5px 17px 0 0 ;
    color:rgb(255, 255, 255);
}




/*
footer .cover .etfrag{
    float: right;
    background-color:gray;
    margin: 19px 70px 0 0;
    height:90%;
    width:10%;
    
}

footer .cover .etfrag .top{
    width:100%;
    height: auto;
    background-color:red;
    white-space: nowrap;
}

footer .cover .etfrag .top h3{
    color:#DDD;
    margin: 5px 0 18px 46px ;
    font-weight: bold;
    float: right;
    font-size: 24px;
}

footer .cover .etfrag .dwon{
    max-width: 100%;
    height:auto;
    background: #538729;
}

footer .cover .etfrag ul{
    text-align: right;
    
}

footer .cover .etfrag ul li{
    list-style: none;
    
    
}

footer .cover .etfrag ul li a{
    color:#DDD;
    text-decoration: none;
    font-size: 20px;
    
}

footer p{
    float: right;
    margin: 5px 17px 0 0 ;
    color:rgb(255, 255, 255);
}
/* end of footer */

